In [1]:
import pandas as pd

In [14]:
# make a series for data frame

series=pd.Series(['BMW','Toyta','Honda'])
series

0      BMW
1    Toyta
2    Honda
dtype: object

In [5]:
# make andother series for data frame

color=pd.Series(['Black','Green','Blue'])
color

0    Black
1    Green
2     Blue
dtype: object

In [10]:
#make a dataframe using two series

dataFrame=pd.DataFrame({'Model':series,'Colors':color})
dataFrame

   Model Colors
0    BMW  Black
1  Toyta  Green
2  Honda   Blue

In [12]:
# exporting data frame

dataFrame.to_csv('newDataFrame.csv',index=False)

In [13]:
# import newly created dataframe

dtfo=pd.read_csv('newDataFrame.csv')
dtfo

   Model Colors
0    BMW  Black
1  Toyta  Green
2  Honda   Blue

In [15]:
df=pd.read_csv('data.csv')
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
5,2014-05-02 00:00:00,4.900000e+05,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA
6,2014-05-02 00:00:00,3.350000e+05,2.0,2.00,1350,2560,1.0,0,0,3,1350,0,1976,0,2616 174th Ave NE,Redmond,WA 98052,USA
7,2014-05-02 00:00:00,4.820000e+05,4.0,2.50,2710,35868,2.0,0,0,3,2710,0,1989,0,23762 SE 253rd Pl,Maple Valley,WA 98038,USA
8,2014-05-02 00:00:00,4.525000e+05,3.0,2.50,2430,88426,1.0,0,0,4,1570,860,1985,0,46611-46625 SE 129th St,North Bend,WA 98045,USA
9,2014-05-02 00:00:00,6.400000e+05,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,Seattle,WA 98115,USA
10,2014-05-02 00:00:00,4.630000e+05,3.0,1.75,1710,7320,1.0,0,0,3,1710,0,1948,1994,Burke-Gilman Trail,Lake Forest Park,WA 98155,USA
11,2014-05-02 00:00:00,1.400000e+06,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,Seattle,WA 98105,USA
12,2014-05-02 00:00:00,5.885000e+05,3.0,1.75,2330,14892,1.0,0,0,3,1970,360,1980,0,1833 220th Pl NE,Sammamish,WA 98074,USA
13,2014-05-02 00:00:00,3.650000e+05,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,Seattle,WA 98106,USA
14,2014-05-02 00:00:00,1.200000e+06,5.0,2.75,2910,9480,1.5,0,0,3,2910,0,1939,1969,3534 46th Ave NE,Seattle,WA 98105,USA
15,2014-05-02 00:00:00,2.425000e+05,3.0,1.50,1200,9720,1.0,0,0,4,1200,0,1965,0,14034 SE 201st St,Kent,WA 98042,USA
16,2014-05-02 00:00:00,4.190000e+05,3.0,1.50,1570,6700,1.0,0,0,4,1570,0,1956,0,15424 SE 9th St,Bellevue,WA 98007,USA
17,2014-05-02 00:00:00,3.675000e+05,4.0,3.00,3110,7231,2.0,0,0,3,3110,0,1997,0,11224 SE 306th Pl,Auburn,WA 98092,USA
18,2014-05-02 00:00:00,2.579500e+05,3.0,1.75,1370,5858,1.0,0,0,3,1370,0,1987,2000,1605 S 245th Pl,Des Moines,WA 98198,USA
19,2014-05-02 00:00:00,2.750000e+05,3.0,1.50,1180,10277,1.0,0,0,3,1180,0,1983,2009,12425 415th Ave SE,North Bend,WA 98045,USA
20,2014-05-02 00:00:00,7.500000e+05,3.0,1.75,2240,10578,2.0,0,0,5,1550,690,1923,0,3225 NE 92nd St,Seattle,WA 98115,USA
21,2014-05-02 00:00:00,4.350000e+05,4.0,1.00,1450,8800,1.0,0,0,4,1450,0,1954,1979,3922 154th Ave SE,Bellevue,WA 98006,USA
22,2014-05-02 00:00:00,6.260000e+05,3.0,2.25,1750,1572,2.5,0,0,3,1470,280,2005,0,3140 Franklin Ave E,Seattle,WA 98102,USA
23,2014-05-02 00:00:00,6.125000e+05,4.0,2.50,2730,12261,2.0,0,0,3,2730,0,1991,0,10212 NE 156th Pl,Bothell,WA 98011,USA
24,2014-05-02 00:00:00,4.950000e+05,4.0,1.75,1600,6380,1.0,0,0,3,1130,470,1959,1989,2021 NE 100th St,Seattle,WA 98125,USA
25,2014-05-02 00:00:00,2.850000e+05,3.0,2.50,2090,10834,1.0,0,0,4,1360,730,1987,0,27736 23rd Avenue South,Federal Way,WA 98003,USA
26,2014-05-02 00:00:00,6.150000e+05,3.0,1.75,2360,7291,1.0,0,0,4,1360,1000,1948,0,8436-8438 41st Ave SW,Seattle,WA 98136,USA
27,2014-05-02 00:00:00,6.980000e+05,4.0,2.25,2200,11250,1.5,0,0,5,1300,900,1920,0,1036 4th St,Kirkland,WA 98033,USA
28,2014-05-02 00:00:00,6.750000e+05,5.0,2.50,2820,67518,2.0,0,0,3,2820,0,1979,2014,23525 SE 32nd Way,Issaquah,WA 98029,USA
29,2014-05-02 00:00:00,7.900000e+05,3.0,2.50,2600,4750,1.0,0,0,4,1700,900,1951,1999,3314 NW 75th St,Seattle,WA 98117,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4570,2014-07-02 00:00:00,3.180000e+05,2.0,1.75,1530,3503,1.0,0,1,4,830,700,1916,0,1922 11th Ave W,Seattle,WA 98119,USA
4571,2014-07-02 00:00:00,5.506071e+05,4.0,2.00,1660,4800,1.5,0,0,3,1660,0,1922,2008,4007 Woodland Park Ave N,Seattle,WA 98103,USA
4572,2014-07-02 00:00:00,1.288333e+06,6.0,4.50,3830,4800,3.0,0,0,3,3050,780,1919,2004,2425 3rd Ave W,Seattle,WA 98119,USA
4573,2014-07-02 00:00:00,5.840000e+05,3.0,1.75,1490,1036,2.0,0,0,3,1090,400,2008,0,4304B 36th Ave W,Seattle,WA 98199,USA
4574,2014-07-02 00:00:00,0.000000e+00,3.0,1.00,1520,9030,1.0,0,0,3,1520,0,1956,2001,2533 155th Pl SE,Bellevue,WA 98007,USA
4575,2014-07-02 00:00:00,0.000000e+00,5.0,6.25,8020,21738,2.0,0,0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA
4576,2014-07-02 00:00:00,2.450000e+05,3.0,3.00,2470,7410,2.0,0,0,5,1860,610,1977,0,8833 Earl Ave NW,Seattle,WA 98117,USA
4577,2014-07-03 00:00:00,2.879198e+05,2.0,1.00,870,4600,1.0,0,0,4,870,0,1942,1982,8506 37th Ave SW,Seattle,WA 98126,USA
4578,2014-07-05 00:00:00,6.725000e+05,4.0,2.25,2110,12653,2.0,0,0,4,2110,0,1972,0,7490 85th Ave SE,Mercer Island,WA 98040,USA
4579,2014-07-06 00:00:00,4.547900e+05,2.0,1.75,1990,4000,1.0,0,0,5,1090,900,1952,1998,8215 Stone Ave N,Seattle,WA 98103,USA
4580,2014-07-07 00:00:00,2.825089e+05,3.0,1.00,1560,7552,1.0,0,0,4,910,650,1948,0,228 NE 174th St,Shoreline,WA 98155,USA
4581,2014-07-07 00:00:00,4.732000e+05,3.0,1.50,1740,4200,1.5,0,0,4,1640,100,1920,0,6714 4th Ave NW,Seattle,WA 98117,USA
4582,2014-07-07 00:00:00,4.060625e+05,2.0,1.00,1290,4650,1.0,0,0,4,1290,0,1906,1990,312 NE 81st St,Seattle,WA 98115,USA
4583,2014-07-07 00:00:00,2.827667e+05,4.0,2.00,1700,8640,1.0,0,0,3,850,850,1955,2010,3706 140th Ave SE,Bellevue,WA 98006,USA
4584,2014-07-07 00:00:00,4.864458e+05,3.0,1.75,1880,10032,1.0,0,0,4,1880,0,1984,0,13345 SE 55th Pl,Bellevue,WA 98006,USA
4585,2014-07-07 00:00:00,4.868950e+05,3.0,1.00,1890,3330,1.5,0,0,4,1390,500,1901,0,4324 Dayton Ave N,Seattle,WA 98103,USA
4586,2014-07-07 00:00:00,4.302778e+05,3.0,2.25,1620,1075,3.0,0,0,3,1540,80,2009,0,972 4th Ave NE,Issaquah,WA 98029,USA
4587,2014-07-08 00:00:00,2.296295e+05,2.0,1.00,770,8149,1.0,0,0,3,770,0,1948,1994,16040 28th Ave NE,Shoreline,WA 98155,USA
4588,2014-07-08 00:00:00,0.000000e+00,4.0,2.25,2890,18226,3.0,1,4,3,2890,0,1984,0,3227-3399 Mountain View Ave N,Renton,WA 98056,USA
4589,2014-07-08 00:00:00,1.828050e+05,3.0,1.00,1040,8892,1.0,0,0,4,800,240,1958,1972,1028 SW 307th St,Federal Way,WA 98023,USA
4590,2014-07-08 00:00:00,3.806806e+05,4.0,2.50,2620,8331,2.0,0,0,3,2620,0,1991,0,13602 SE 186th Pl,Renton,WA 98058,USA
4591,2014-07-08 00:00:00,3.961667e+05,3.0,1.75,1880,5752,1.0,0,0,4,940,940,1945,0,3529 SW Webster St,Seattle,WA 98126,USA
4592,2014-07-08 00:00:00,2.529800e+05,4.0,2.50,2530,8169,2.0,0,0,3,2530,0,1993,0,37654 18th Pl S,Federal Way,WA 98003,USA
4593,2014-07-08 00:00:00,2.893733e+05,3.0,2.50,2538,4600,2.0,0,0,3,2538,0,2013,1923,5703 Charlotte Ave SE,Auburn,WA 98092,USA
4594,2014-07-09 00:00:00,2.106143e+05,3.0,2.50,1610,7223,2.0,0,0,3,1610,0,1994,0,26306 127th Ave SE,Kent,WA 98030,USA
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [16]:
df.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [17]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [18]:
df.index

RangeIndex(start=0, stop=4600, step=1)

In [21]:
len(df)

4600

In [22]:
df.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [23]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
date             4600 non-null object
price            4600 non-null float64
bedrooms         4600 non-null float64
bathrooms        4600 non-null float64
sqft_living      4600 non-null int64
sqft_lot         4600 non-null int64
floors           4600 non-null float64
waterfront       4600 non-null int64
view             4600 non-null int64
condition        4600 non-null int64
sqft_above       4600 non-null int64
sqft_basement    4600 non-null int64
yr_built         4600 non-null int64
yr_renovated     4600 non-null int64
street           4600 non-null object
city             4600 non-null object
statezip         4600 non-null object
country          4600 non-null object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [26]:
df.sum()

date             2014-05-02 00:00:002014-05-02 00:00:002014-05-...
price                                                  2.53903e+09
bedrooms                                                     15644
bathrooms                                                  9939.75
sqft_living                                                9840996
sqft_lot                                                  68321574
floors                                                      6955.5
waterfront                                                      33
view                                                          1107
condition                                                    15878
sqft_above                                                 8405421
sqft_basement                                              1435575
yr_built                                                   9065617
yr_renovated                                               3719598
street           18810 Densmore Ave N709 W Blaine St26206-26214...
city             ShorelineSeattleKentBellevueRedmondSeattleRedm...
statezip         WA 98133WA 98119WA 98042WA 98008WA 98052WA 981...
country          USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...
dtype: object

In [27]:
df.loc[3]

date             2014-05-02 00:00:00
price                         420000
bedrooms                           3
bathrooms                       2.25
sqft_living                     2000
sqft_lot                        8030
floors                             1
waterfront                         0
view                               0
condition                          4
sqft_above                      1000
sqft_basement                   1000
yr_built                        1963
yr_renovated                       0
street               857 170th Pl NE
city                        Bellevue
statezip                    WA 98008
country                          USA
Name: 3, dtype: object

In [28]:
df.iloc[3]

date             2014-05-02 00:00:00
price                         420000
bedrooms                           3
bathrooms                       2.25
sqft_living                     2000
sqft_lot                        8030
floors                             1
waterfront                         0
view                               0
condition                          4
sqft_above                      1000
sqft_basement                   1000
yr_built                        1963
yr_renovated                       0
street               857 170th Pl NE
city                        Bellevue
statezip                    WA 98008
country                          USA
Name: 3, dtype: object